.content span.primitive, .content a.primitive, .block a.current.primitive { color: #D8AA0B; }
.content span.externcrate,
.content span.mod, .content a.mod, block a.current.mod { color: #967F00; }
.content span.fn, .content a.fn, .block a.current.fn,
.content span.method, .content a.method, .block a.current.method,
.content span.tymethod, .content a.tymethod, .block a.current.tymethod,
.content .fnname { color: #2BAB63; }

pre.rust .comment { color: #4D4D4C; }
pre.rust .doccomment { color: #8E908C; }
